.navbar-brand{
    font-family: sans-serif ; 
    font-style:normal; 
    font-size: 30px;
    text-shadow: 1px 1px yellow;  
    background-attachment:local ;
    background-image: url("/img/nav-bar.gif");
  }
  span{
    color: coral;
  }
